html, body {
  height: 100%; /* Full height for html and body */
  margin: 0; /* Remove default margin */
}

.app-container {
  display: flex; /* Flexbox for layout */
  height: 100%; /* Full height for the app container */
}

.content-container {
  flex: 1; /* Allow the content to take the remaining width */
  padding: 20px; /* Add padding for content */
  background-color: #f8f9fa; /* Light background for contrast */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
h2{
  margin-top: 0px;
}
/* Sidebar toggle button */
.toggle-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #343a40;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2000; /* Ensure it stays above other elements */
}

.content-container.sidebar-open {
  margin-left: 220px; /* Shift content to the right when sidebar is open */
}
